<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Branch</title>
</head>
<body>
    <table id="stock_table" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th style="width: 200px">Name</th>
                <th>Address</th>
                <th style="width: 150px">Actions</th>
              </tr>
        </thead>
        <tbody style="color: #555555;">      
          <% branch.forEach(function(item){ %>              
              <tr>
              <td style="text-align: center;"> <a href="branch/update?id=<%=item.branch_id%>"><%=item.branch_id%></a></td>                  
              <td><%=item.branch_name%></td>
              <td> <div class="block-with-text"> <%=item.branch_address%> </div></td>
              <td style="text-align: center;">
                  <a href="branch/update?id=<%=item.branch_id%>"> Edit</a> | <a href="/branch/delete?id=<%=item.branch_id%>">Delete</a>| <a href="/branch/add">Add</a>
              </td>
              </tr>
              <%});%>
                  
        </tbody>
        <tfoot>
            <tr>
                <th style="width: 10px">#</th>
                <th style="width: 200px">Name</th>
                <th>Address</th>
                <th style="width: 150px">Actions</th>
              </tr>
        </tfoot>
      </table>
</body>
</html>